/* CSS Document */
body{
	background-color: #FFFFCC;
	text-align: center;
}

#wrapper{
	background-color: #99CCFF;
	border-style:solid;
	border-width:medium;
	border-color:#000000;
	margin-left:10%;
	width: 80%;
}